.workLogForm {
    margin: auto;
    height: 480px;
    width: 70%;
    border-radius: 3%;
    margin-top: 30px;
    background-color: #cecece;
    padding: 20px;
}

.cronometer-button {
    position: relative;
}

.radio {
    display: inline-block !important;
    position: relative;
    right: 10%; 
    top: 50px;
}

.comment {
    position: relative;
    top: 50px;
    width: 100%;
}

.sent-button {
    position: relative;
    top: 80px;
    padding: 20px; 
    width: 15%;

}